.main {
	text-align: center;
}

.main h1 {
	font-size: 5rem;
  font-weight: 1000;
	background: #ff0ade;
	background: linear-gradient(to right, #ff0ade 0%, #ff872b 70%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 20px pink;
}

@media screen and (max-width: 500px) {
  .main h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 300px) {
  .main h1 {
    font-size: 1.5rem;
  }
}

.main p {
	font-size: 2rem;
  padding: 1rem;
}
